.liquidChrome-container {
   width: 100%;
   height: 100%;
 }


 .h1__titlee {
  color: #39FF14;
  /* text-shadow: 10px 10px 10px  gray; */
  text-shadow: 0 0 10px #39FF14;
  text-align: center;
  font-size: 4rem;
  @media (max-width: 510px) {
   font-size: 3rem;
  }
  @media (max-width: 450px) {
   font-size: 1.7rem;
  }

 }